/*
SnapStatus Containers/CSS
*/

.snapStatus {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.snapStatusTitle {
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.snapStatusState {
  font-weight: 600;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
