/*
Footer Containers/CSS
*/

.footerContainer {
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  width: calc(100% - 40px);
  color: #fff;
  background: #222;
  text-align: center;
  padding: 30px 20px;
  border-top: 3px solid #555;
}
.footerContainerDonations {
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin-top: 5px;
}
