/*
MainImage Containers/CSS
*/

.mainImageContainer {
  position: relative;
  width: 100%;
}
.mainImageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.mainImageBackground {
	width: 100%;
	height: 650px;
	background-color: #000;
	background-image: url("../../assets/background_2.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: -1
}
.mainImageContainerInner {
  width: calc(100% - 40px);
  text-align: center;
  max-width: 1024px;
  z-index: 2;
}
.mainImageTextbox {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(35, 47, 62, 0.65);
  display: inline-block;
}
.mainImageTitle {
  font-weight: 600;
  font-size: 48px;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
}
.mainImageTagline {
  font-weight: 600;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
}
.mainImageButton {
  font-weight: 600;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  margin-top: 30px;
  padding: 8px 0px 10px;
  cursor: pointer;
  outline: 0;
  border: 1px solid #aaa;
}
.mainImageButton:hover {
  color: #fff;
  background: #232f3e;
  transition: .3s ease-in-out all;
}

@media only screen and (max-width: 500px) {
  .mainImageTitle {
    font-size: 36px;
  }
}
