/*
SnapTitle Containers/CSS
*/

.snapTitle {
  font-weight: 600;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .snapTitle {
    font-size: 24px;
  }
}
