/*
Section Containers/CSS
*/

.sectionTitle {
  width: calc(100% - 60px);
  margin: 0px 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #aaa;
}
