/*
Thanos App Containers/CSS
*/

.thanos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thanosFirstModule {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.thanosFirstModuleInner {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 470px;
}
.thanosFirstModuleInput {
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  width: calc(100% - 110px);
  height: 33px;
  border: 1px solid #aaa;
  border-radius: 0px;
  padding: 0px 8px;
  margin-right: 10px;
  text-align: left;
}
.thanosSecondModule {
  width: 100%;
  display: flex;
  justify-content: center;
}
.thanosSecondModuleInner {
  width: 470px;
  height: 33px;
  margin-top: 10px;
  border: 1px solid #aaa;
}
.thanosButtonContainer {
  display: flex;
  justify-content: center;
}
.thanosButtonOverlay {
  width: 188px;
  height: 35px;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .thanosFirstModuleInner {
    width: 100%;
    max-width: 470px;
  }
}
